OLLAMA_BASE_URL=http://host.docker.internal:11434
GOOGLE_API_KEY=your_google_api_key_here
OPENVIKING_API_KEY=ait-dev
CHAT_MODEL=qwen3:14b
QDRANT_URL=http://qdrant:6333
OPENVIKING_URL=http://openviking:1933
MARKER_URL=http://marker:8001
PDF_PATH=/data/BCTN_MSB_2024.pdf
EMBEDDING_DIM=4096
